html, body{
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    background-color: #ffffff;
    font-family: Fellix,"Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;;
}
header{
    background-color: #36a8ff;
    content: "";
    clear: both;
    display: table;
}
nav{
    display: flex;
    align-items: center;
    justify-content:space-between;
}
nav img{
    max-width: 10%;
    margin-left:2.4%;
    float: left;
    width: 50%;
    padding: 5px;
    padding-bottom: 1.5em;
    padding-left: 4px;
}
nav h1{
    font-size: 2.5em;
    padding-right:16.7em;
    padding-bottom:0.2em;
    color:#56DDEF;
}
menu{
    background-color: #b5ff08;
    margin-top: auto;
    padding-top: 2px;
    padding-bottom: 2.2em;
    margin-bottom: auto;
}
menu h1{
    font-size: 2.6em;
}
menu a{
    font-size: 1.5em;
}
menu a:link{
    text-decoration: none;
    color:#0626d9;
}
menu a:visited{
    text-decoration: none;
    color:#0626d9;
}
menu a:hover{
    text-decoration: none;
    color:#8000ff;
}
menu a:active{
    text-decoration: none;
    color:#8000ff;
}
main{
    background-color: #fee50b;
    margin-bottom: auto;
    padding-top: 2em;
    padding-bottom: 1.4em;
}
main h1{
    margin-top:auto;
    margin-left:2.6%;
    margin-bottom:6%;
}
.main-layout{
    display:grid;
    height:100%;
    grid-template-columns: 1fr 1fr ;
    margin-left:2.6%;
}
.main-layout img{
    margin-bottom:5%;
    margin-right: 5%;
    max-width: 68%;
}
.main-layout h2{
    margin-bottom:5%;
    max-width: 60%;
    font-weight: 100;
}
.img1 img{
    max-width: 30%;
}
.img2 img{
    max-width: 36%;
}
.img3 img{
    max-width: 40%;
}
.img4 img{
    max-width: 100%;
}
.img5 img{
    max-width: 65%;
}
.bold h2{
    font-weight: bold;
}
footer{
    background-color: #0b02bc;
    padding-top: 1em;
    padding-bottom: 0.2em;
}
footer p{
    margin-left:2.6%;
    font-size: 1.7em;
    color:#ffffff;
    margin-top: auto;
}