html, body{
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    background-color: #ffffff;
    font-family: Fellix,"Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;;
}
header{
    background-color: #36a8ff;
    content: "";
    clear: both;
    display: table;
}
nav{
    display: flex;
    align-items: center;
    justify-content:space-between;
}
nav img{
    max-width: 10%;
    margin-left:2.4%;
    float: left;
    width: 50%;
    padding: 5px;
    padding-bottom: 1.5em;
    padding-left: 4px;
}
nav h1{
    font-size: 2.5em;
    padding-right:16.7em;
    padding-bottom:0.2em;
    color:#56DDEF;
}
menu{
    background-color: #b5ff08;
    padding-top: 2px;
    padding-bottom: 2.2em;
}
menu a:link{
    text-decoration: none;
    color:#0026ff;
}
menu a:visited{
    text-decoration: none;
    color:#0026ff;
}
menu a:hover{
    text-decoration: none;
    color:#bf00ff;
}
menu a:active{
    text-decoration: none;
    color:#bf00ff;
}
main{
    background-color: #fee50b;
}
.main-layout{
    margin:1.15em;
    display:grid;
    height:100%;
    grid-template-columns: 1fr 1fr;
}
main h1{
    margin-left:2.6%;
    margin-top:5%;
    margin-bottom:5%;
}
main img{
    margin-top:5%;
    margin-bottom:5%;
    margin-left:2.7%;
    max-width: 50%;
}
footer{
    background-color: #0b02bc;
}
footer p{
    margin-left:2.6%;
    font-size: 1.7em;
    color:#ffffff;
}